include LICENSE
include CHANGELOG
include README.rst
include pinguino12.desktop
include pinguino/paths.cfg
include pinguino/*.py
include pinguino/*.bat
include pinguino/*.png
include pinguino/*.sh
recursive-include pinguino/qtgui/config *
recursive-include pinguino/qtgui/resources *
recursive-include pinguino/qtgui/gide/bloques *
recursive-include multilanguage/ *
recursive-include html-documentation *
