[Desktop Entry]
Version=13
Name=Pinguino IDE
GenericName=Pinguino IDE
X-GNOME-FullName=Pinguino IDE for PIC micros
Comment=Pinguino IDE v13
Exec=#PINGUINO_DIR#/pinguino.sh
Icon=#PINGUINO_DIR#/logo.png
Terminal=false
Type=Application
Categories=Development;Education;Electronics
StartupNotify=true
