// File: 18f1320_g.lkr
// Generic linker script for the PIC18F1320 processor

LIBPATH .

#IFDEF _CRUNTIME
  FILES c018i.o
  FILES clib.lib
  FILES p18f1320.lib
#FI

CODEPAGE   NAME=page       START=0x0               END=0x1FFF
CODEPAGE   NAME=idlocs     START=0x200000          END=0x200007       PROTECTED
CODEPAGE   NAME=config     START=0x300000          END=0x30000D       PROTECTED
CODEPAGE   NAME=devid      START=0x3FFFFE          END=0x3FFFFF       PROTECTED
CODEPAGE   NAME=eedata     START=0xF00000          END=0xF000FF       PROTECTED

ACCESSBANK NAME=accessram  START=0x0               END=0x7F
ACCESSBANK NAME=accesssfr  START=0xF80             END=0xFFF          PROTECTED

DATABANK   NAME=gpr0       START=0x80              END=0xFF

#IFDEF _CRUNTIME
  SECTION    NAME=CONFIG     ROM=config
  STACK SIZE=0x40 RAM=gpr0
#FI
